.about {
    text-align: center;  
    height: 100vh;
    display: flex;
    align-items: center;
    color: $color-black;  
    .about-box {
        display: flex;
        justify-content: space-around;
        .about-innerbox {
            width: 25%;
            padding: 48px 12px 24px 0;
            margin-right: 36px;
            margin-bottom: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            i {
                background: $color-gray;
                color: $color-white;
                height: 80px;
                width: 80px;
                line-height: 80px;
                text-align: center;
                border-radius: 50%;
                font-size: 32px;
                transition: $transition;
                &:hover {
                    background: $color-blue;
                    color: $color-white;
                    transform: scale(1.1);
                }
            }
            h3, p {
                text-align: center;  
                margin: 30px 0 0 0;  
            }
         }
    }
}


@include tablet {
    .about {
        height: auto;
        .about-box {
            flex-direction: column;
            align-items: center;
            .about-innerbox {
                margin-right: 0;
                padding-right: 0;
                i {
                    background: $color-blue;
                }
            }
        }
    }
}
  
@include mobile {
    
}