.contact {
    height: 100vh;
    background: linear-gradient(45deg, $color-green, $color-blue, $color-green);
    display: flex;
    .contact-content {
        flex: 0 0 50%;
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h5 {
            font-size: 48px;
            padding: 0 20px;
            margin: 0 0 40px 0;
            text-align: center;
        }
        p {
            font-size: 32px;
            padding: 0;
            margin: 0;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex: 0 0 50%;
        position: relative;
        label {
            font-size: 24px;
            color: $color-white;
            margin: 10px 40px;
            width: 50%;
            display: flex;
            flex-direction: column;
            input, textarea {
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
            }
            textarea {
                resize: none;
            }
        }
        button {
            background-color: $color-white;
            color: $color-blue;
            padding: 14px 24px;
            border: none;
            border-radius: 5px;
            margin: 20px 40px;
            font-size: 20px;
            transition: $transition;
            &:hover {
                color: $color-green;
            }
        }
    }
    form::after {
        content: '';
        position: absolute;
        left: -10px;
        width: 2px;
        height: 80%;
        background: $color-white;
    }
}


@include tablet {
    .contact {
        height: auto;
        flex-direction: column;
        .contact-content {
            margin: 40px 0;
            h5, p {
                padding: 0 10px;
                margin: 10px 0;
            }
        }
        form {
            align-items: center;
            margin: 40px 0;
        }
        form::after {
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: 2px;
            background: $color-white;
        }
    }
}
  
@include mobile {
    .contact {
        height: auto;
        flex-direction: column;
        .contact-content {
            margin: 40px 0;
            h5, p {
                padding: 0 10px;
                margin: 10px 0;
            }
            h5 {
                font-size: 28px;
            }
            p {
                font-size: 24px;
            }
        }
        form {
            align-items: center;
            margin: 40px 0;
            label {
                width: 80%;
            }
        }
        form::after {
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: 2px;
            background: $color-white;
        }
    }
}