.footer {
    background-color: $color-black;
    display: flex;
   .copyright {
    flex: 0 0 40%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
       span {
           color: $color-white;
           margin-left: 20px;
       }
   }
   .icons {
       flex: 0 0 60%;
       margin: 12px auto;
       padding-right: 20px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-end;
       span {
           padding-right: 18px;
           margin-bottom: 20px;
       }
       ul {
            list-style-type: none;
            li {
                display: inline-block; 
                font-size: 0;
                transition: $transition;
                a {
                    text-decoration: none; 
                    i {
                        font-size: 24px;
                        margin: 0 5px;
                        color: $color-white;
                        background: $color-blue;
                        height: 50px;
                        width: 50px;
                        line-height: 50px;
                        border-radius: 50%;
                        text-align: center;
                    }
                }
                &:hover {
                    transform: scale(1.2);
                }
            }
       }
   }
}