*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: $font-size;
    line-height: 1.7;
    font-family: $main-font;
    color: $color-gray;
    background-color: $color-white;
}


.header {
    height: 7%
}

.page-container {
    height: 93%;
}

section {
    opacity: 0;
    transition: 3s all;
}

.inView {
    opacity: 1;
}


