
/* Carousel */
.slider {
    height: 100vh;
    .slider-inner {
        height: 100%;
        position: relative;
        .slider-item {
            height: 100%; 
            width: 100%;
            transition: 2s all;
            opacity: 0.8;
        }
        .slider-fade {
            transition: 2s all;
            opacity: 1;
        }
        i {
            position: absolute;
            font-size: 36px;
            color: $color-white;
            right: 100px;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .prev {
            left: 450px;
        }
        
    }
    
}


@include tablet {
    .slider {
        height: 600px;
        .slider-inner {
            .prev {
                left: 300px;
            }
        }
    }    
}

  
@include mobile {
    .slider {
        display: none;
    }
}
