
/* Carousel */
.carousel-inner, .carousel-item {
    max-height: 720px
}

.carousel-item img {
    height: 100%; 
    object-fit: cover;
}

.carousel-caption {
    padding-top: 0;
    padding-bottom: 0;
    right: auto;
    left: auto;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-caption h5 {
    font-size: 60px;
    font-family: $main-font;
}

@include tablet {
    .carousel-inner, .carousel-item {
        max-height: 432px
    }
}
  
@include mobile {
    
}