
/* Carousel */
.slider {
    height: 100vh;
    .slider-inner {
        height: 100%;
        position: relative;
        .slider-item {
            height: 100%; 
            width: 100%;
            transition: 2s all;
            opacity: 0.8;
        }
        .slider-fade {
            transition: 2s all;
            opacity: 1;
        }
        i {
            position: absolute;
            font-size: 36px;
            color: $color-white;
            right: 100px;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .prev {
            left: 580px;
        }
        
    }
    
}



/*
.carousel-caption {
    padding-top: 0;
    padding-bottom: 0;
    right: auto;
    left: auto;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-caption h5 {
    font-size: 60px;
    font-family: $main-font;
}

*/


@include tablet {
    .slider {
        height: 600px;
    }    
}

  
@include mobile {
    .slider {
        display: none;
    }
}
